<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Sign Up </title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Finexo </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />


  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />


  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />

  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="{% static 'images/hero-bg.png' %}" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'index' %}">
            <span>
              Finexo
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'service' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'why' %}">Why Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'team' %}">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <div class="container">
      <!-- Title section -->
      <div class="title">Create Account</div>
      <div class="content">
        <!-- Registration form -->
        <form id="form_post">
          <div class="user-details">
            <!-- Input for Full Name -->
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" placeholder="Enter your name" required>
            </div>
            <!-- Input for Date of Birth -->
            <div class="input-box">
              <span class="details">Date of Birth</span>
              <input type="date" required>
            </div>
            <!-- Input for Nationality -->
            <div class="input-box">
              <span class="details">Nationality</span>
              <input type="text" placeholder="Enter nationality" required>
            </div>
            <!-- Input for Phone Number -->
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="number" placeholder="Enter your number" required>
            </div>
            <!-- Input for Address Line 1 -->
            <div class="input-box">
              <span class="details">Address Line 1</span>
              <input type="text" placeholder="Line 1" required>
            </div>
            <!-- Input for Address Line 2 -->
            <div class="input-box">
              <span class="details">Address Line 2</span>
              <input type="text" placeholder="Line 2">
            </div>
            <!-- Input for City -->
            <div class="input-box">
              <span class="details">City</span>
              <input type="text" placeholder="City Name" required>
            </div>
            <!-- Input for State -->
            <div class="input-box">
              <span class="details">State</span>
              <input type="text" placeholder="State" required>
            </div>
            <!-- Input for Country -->
            <div class="input-box">
              <span class="details">Country</span>
              <input type="text" placeholder="Country" required>
            </div>
            <!-- Input for Pin Code -->
            <div class="input-box">
              <span class="details">Pin Code</span>
              <input type="number" placeholder="Pin" required>
            </div>
            <!-- Input for Email -->
            <div class="input-box">
              <span class="details">Email Address</span>
              <input type="email" name="email" placeholder="Email" required>
            </div>
            <!-- Input for Password -->
            <div class="input-box">
              <span class="details">Set Password</span>
              <input type="password" name="password" placeholder="Confirm your password" required>
            </div>
            <!-- Input for Confirm Password -->
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input type="password" placeholder="Confirm your password" required>
            </div>
            <div style="width: 100%;">

            </div>
            <div class="gender-details">
              <!-- Radio buttons for gender selection -->
              <input type="radio" name="gender" id="dot-1">
              <input type="radio" name="gender" id="dot-2">
              <input type="radio" name="gender" id="dot-3">
              <span class="gender-title">Gender</span>
              <div class="category" style="width: 100%; margin-right: 50px;">
                <!-- Label for Male -->
                <label for="dot-1">
                  <span class="dot one"></span>
                  <span class="gender">Male</span>
                </label>
                <!-- Label for Female -->
                <label for="dot-2">
                  <span class="dot two"></span>
                  <span class="gender">Female</span>
                </label>
                <!-- Label for Prefer not to say -->
                <label for="dot-3">
                  <span class="dot three"></span>
                  <span class="gender">Prefer not to say</span>
                </label>
              </div>
            </div>
            <div style="width: 100%;">

            </div>
            <!-- Submit button -->
        
        </form>
        <div class="button" style="width: 100%; display: flex; justify-content: center; text-align: center;">
          <button id="form_btn" style="padding: 10px;">Submit</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>